* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(70, 151, 154);
}

h1 {
    background-color: rgb(27, 22, 120);
    color: rgb(254, 255, 255);
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    background-color: rgb(2, 68, 43);
    cursor: pointer;
}
.img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

#msg {
    background-color: rgb(40, 36, 126);
    color: rgb(254, 255, 255);
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msg-container {
    margin-top: 5rem;
}